.p-floatlabel {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 0.5rem;

    .vehicle-selector {
        width: 100%;
        flex-grow: 2;
    }

    .tank-percentge {
        width: 100%;
    }
}
