.auth-wrapper {
    height: 100%;
}

.p-inputtext, .p-dialog {
  color: var(--p-gray-100) !important;
  background-color: rgba(from var(--p-gray-200) r g b / 0.2) !important;
  box-shadow: inset 0 0 35px rgba(34, 34, 34, 0.2) !important;
  border-radius: 8px !important;
  border: 1px solid rgba(208, 208, 208, 0.2) !important;
  

  &:enabled:hover {
      border-color: rgba(255, 255, 255, 0.2) !important;
  }

  &:enabled:focus {
      border-color: rgba(255, 255, 255, 0.2) !important;
  }
}

.p-inputtext {
  width: 100%;
}

.p-dialog {
  backdrop-filter: blur(15px) !important;
  width: auto !important;
  border-radius: 18px !important;

  --p-button-text-secondary-color: var(--p-gray-100) !important;
  --p-button-text-secondary-color-hover: var(--p-gray-100) !important;
  --p-button-text-secondary-color-active: var(--p-gray-100) !important;
  --p-button-text-secondary-active-background: rgba(from var(--p-gray-200) r g b / 0.2) !important;
  --p-button-text-secondary-hover-background: rgba(from var(--p-gray-200) r g b / 0.2) !important;
}