.selected-poi-box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  
  width: 100%;
  gap: 0.5rem;

  padding: 1rem;

  h3 {
    font-size: medium;
    text-align: start;
    margin: 0;
    height: fit-content;
  }

  p {
    font-size: small;
    text-align: start;
    margin: 0;
    height: fit-content;
  }
}

.selected-poi-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  
  width: 100%;
  gap: 0.5rem;

  list-style-position: inside;

  .selected-poi {
    width: 100%;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--glass-border-color);

    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }
  }
}

.selected-poi-button {
  width: 100%;
  
  > p-button {
    margin-top: 0.5rem;
    width: 100%;
    display: flex;
    
    button {
      width: 100%;
    }
  }
}

