.selected-poi-box {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 30%;
  gap: 0.5rem;

  padding: 1rem;

  h3 {
    font-size: medium;
    text-align: start;
    margin: 0;
    height: fit-content;
  }

  p {
    font-size: small;
    text-align: start;
    margin: 0;
    height: fit-content;
  }
}

.selected-poi-button {
  width: 100%;
  
  > p-button {
    margin-top: 0.5rem;
    width: 100%;
    display: flex;
    
    button {
      width: 100%;
    }
  }
}

