<div *ngIf="selectedPOIs.length !== 0" class="selected-poi-box">
  <ol class="selected-poi-list">
    <div class="poi-wrapper" *ngFor="let poi of selectedPOIs">
      <li>
        <h3 (click)="gotoPOI(poi)">{{ poi.properties.name }}</h3>
        <p>{{ poi.properties.full_address }}</p>
      </li>
      <p-button
        icon="pi pi-times"
        [rounded]="true"
        [text]="true"
        severity="secondary"
        (onClick)="deleteSelectedPOI(poi)"
        *ngIf="!pathComputed"
      />
    </div>
  </ol>
  <div class="selected-poi-button">
    <p-button
      type="button"
      icon="pi pi-trash"
      severity="secondary"
      [text]="true"
      (onClick)="clearAll()"
    ></p-button>

    <p-button
      type="button"
      icon="pi pi-compass"
      label="Start"
      severity="secondary"
      (onClick)="computePath()"
      [disabled]="selectedPOIs.length < 2 || !enableStartButton"
    ></p-button>
  </div>
</div>

<div class="stations-box">
  <h3 *ngIf="stations.length > 0">
    Refueling stops €{{ totalCost | number : "1.2-2" }}
  </h3>
  <ol class="selected-poi-list scrollable-list">
    <div *ngFor="let station of stations" class="selected-poi-box">
      <div class="poi-wrapper">
        <li>
          <h3 (click)="gotoPOI(station.coordinates)">{{ station.name }}</h3>
          <p>{{ station.address }}</p>
          <p>€{{ station.price | number : "1.4-4" }}</p>
        </li>
      </div>
    </div>
  </ol>
</div>
