<div *ngIf="selectedPOIs.length !== 0" class="selected-poi-box">
  <ol class="selected-poi-list">
    <div class="poi-wrapper" *ngFor="let poi of selectedPOIs">
      <li>
        <h3 (click)="gotoPOI(poi)">{{ poi.properties.name }}</h3>
        <p>{{ poi.properties.full_address }}</p>
      </li>
      <p-button
        icon="pi pi-times"
        [rounded]="true"
        [text]="true"
        severity="secondary"
        (onClick)="deleteSelectedPOI(poi)"
      />
    </div>
  </ol>
  <div class="selected-poi-button">
    <p-button
      type="button"
      icon="pi pi-trash"
      severity="secondary"
      [text]="true"
      (onClick)="clearAll()"
    ></p-button>

    <p-button
      type="button"
      icon="pi pi-compass"
      label="Start"
      severity="secondary"
      (onClick)="computePath()"
    ></p-button>
  </div>
</div>
