<app-navbar></app-navbar>

<div class="glass-panel top-panel">
    <h3>Calculate route</h3>
    <app-search-box></app-search-box>
    <app-poi-list></app-poi-list>
</div>

<div class="glass-panel bottom-panel">
    <h3>Vehicle and Fuel</h3>
    <app-vehicle-selector></app-vehicle-selector>
</div>


<p-dialog [(visible)]="modalVisible" [modal]="true" [header]="modalTitle" appendTo="body" [closeOnEscape]="true"
    [draggable]="false" [resizable]="false" [closable]="true" (onHide)="onModalHide()">
    <router-outlet></router-outlet>
</p-dialog>