app-search-box, app-poi-list, app-vehicle-selector {
  width: 100%;
}

.glass-panel {
    margin: 0.5rem;

    width: min(40%, 26rem) !important;
    border-radius: 12px !important;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 1rem;
    gap: 0.5rem;

    h3 {
      margin-top: 0;
      margin-bottom: 0.5rem;
    }
}

.bottom-panel {
    position: absolute;
    bottom: 0;
    right: 0;
}